<script type="text/ng-template" id="table_pattern">
  <tr>
    <td data-ng-repeat="model in model.models">
      <div data-ng-include="'item-value'"></div>
      <table data-ng-include="'table_pattern'"></table>
    </td>
  </tr>
</script>

<script type="text/ng-template" id="item-value">
  <div class="item-value">
    <br/>
    <span class="model-value">
        <i data-ng-click="show_input=true" data-ng-hide="show_input">{{model.evaluation.value}}</i>
        <input type="number" data-ng-show="show_input" data-ng-model="model.evaluation.value" data-ng-blur="show_input=false; Main.updateEvaluation(model.id, model.evaluation.value)"/>
    </span>
    <br/>
    {{model.name}}
    <br/>
  </div>
</script>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="form-horizontal">
      <br />
      <div class="form-group">
        <textarea class="form-control" rows="7" data-ng-model="Main.inputData" placeholder="Enter JSON data"></textarea>
      </div>
      <div class="form-group">
        <input type="button" class="form-control" data-ng-click="Main.createModel()" value="Create model"/>
      </div>
    </div>
  </div>
</div>

<div>
  <div data-ng-repeat="model in Main.models" class="basic_item">
    <div data-ng-include="'item-value'"></div>
    <table data-ng-include="'table_pattern'"></table>
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <br />
          <div class="form-group">
            <textarea class="form-control" placeholder="Enter description" rows="7" data-ng-model="model.dscr">{{model.dscr}}</textarea>
          </div>
          <div class="form-group">
            <input type="button" class="form-control" data-ng-click="Main.updateDscr(model.id, model.dscr)" value="Save dscr"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
