<script type="text/ng-template" id="table_pattern">
  <tr>
    <td ng-repeat="model in model.models">
      <div ng-include="'item-value'"></div>
      <table ng-include="'table_pattern'"></table>
    </td>
  </tr>
</script>

<script type="text/ng-template" id="item-value">
  <div class="item-value">
    <br/>
    <span class="model-value">
        <i ng-click="show_input=true" ng-hide="show_input">{{model.evaluation.value}}</i>
        <input type="number" ng-show="show_input" ng-model="model.evaluation.value" ng-blur="show_input=false"/>
    </span>
    <br/>
    {{model.name}}
    <br/>
  </div>
</script>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="form-horizontal">
      <br />
      <div class="form-group">
        <textarea class="form-control" rows="7" data-ng-model="main.inputData" placeholder="Enter JSON data"></textarea>
      </div>
      <div class="form-group">
        <input type="button" class="form-control" data-ng-click="main.createModel()" value="Create model"/>
      </div>
    </div>
  </div>
</div>

<div>
  <div ng-repeat="model in main.models" class="basic_item">
    <div ng-include="'item-value'"></div>
    <table ng-include="'table_pattern'"></table>
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <br />
          <div class="form-group">
            <textarea class="form-control" placeholder="Enter description" rows="7" data-ng-model="main.modelDscr"></textarea>
          </div>
          <div class="form-group">
            <input type="button" class="form-control" data-ng-click="main.createModel()" value="Save dscr"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
